<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<header th:insert="~{navigation :: header}"></header>
<div class="container text-center mt-2">
    <h2>Login</h2>
    <h4 class="title text-danger" th:if="${error == true}">Invalid username or password!</h4>
<form action="/login" method="POST">
    <div class="row gutters mt-3 ml-0 mr-0" id="fields">
        <div class="row d-flex justify-content-center">
            <div class="form-group">
                <label for="username">
                    <h6 class="text-dark">Username</h6>
                </label>
                <input type="text" class="form-control" name="username" id="username" placeholder="" minlength="1" maxlength="45" required>
            </div>
            <div class="form-group">
                <label for="password">
                    <h6 class="text-dark">Password</h6>
                </label>
                <input type="password" class="form-control" name="password" id="password" placeholder="" minlength="1" maxlength="45" required>
            </div>
        </div>

    <div class="mt-3">
        <input class="btn btn-dark float-right" type="submit" title="Login" value="Login">
    </div>
    </div>
</form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>