<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/services">Service Manager</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/addService" sec:authorize="hasAuthority('ADMIN')">Add Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/users" sec:authorize="hasAuthority('ADMIN')">Users</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" sec:authorize="isAnonymous()">Register As Client</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registerEmployee" sec:authorize="isAnonymous()">Register For Job</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myAppointments" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">My Appointments</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/myInvoices" sec:authorize="hasAuthority('ADMIN') or hasAuthority('USER')">My Invoices</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>