<div th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="javascript:void(0)">Logo</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="mynavbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="javascript:void(0)">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/services">Services</a>
                    </li>
                </ul>

                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/login" sec:authorize="isAnonymous()">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/register" sec:authorize="isAnonymous()">Register</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile" sec:authorize="isAuthenticated()">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout" sec:authorize="isAuthenticated()">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>